
body {
	background-color:rgb(248, 234, 234);

}

.header{
    padding: 20px;
    text-align: center;
    background:  rgb(95, 9, 23);
    color: white;
    width:98.7%;
    margin-bottom:50px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.info-cv{
    margin-left:10%;
    border-radius: 1px;
    border: solid black;
    width:80%;
    background: white;
}

.full-form{
    background-color: #fff;
	border-radius: 5px;
    box-shadow: 0 2px 5px rgba(54, 28, 28, 0.3);
	overflow: hidden;
    width: 50%;
    border: 3px solid rgb(95, 9, 23);
    max-width: 100%;
    margin-left:25%;

}

.full-form .form-info{
    
    margin: 6px;
    padding: 5px;
    background: white;
    align-self: center;
    padding:6px;
    font-weight: bolder;
    border-radius: 5px;
    min-height:50%;


}

.full-form .form-info .f-header{
    border-bottom: 1px solid  rgb(95, 9, 23);
	background-color:  rgb(95, 9, 23);
	padding: 20px 40px;
    color:#fff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    
   
}


.full-form .form-info  .bdetails input{
    width: 80%;
    padding: 9px 8px;
    flex: 5 2;
    margin-top:5px;
    margin-bottom:10px;
    margin-left:15px;
}


.full-form .form-info label{
    padding: 9px 8px;
    flex: 5 2;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


.full-form .form-info  .gdetails select{
    padding:9px 8px;
    width: 80%;
    flex: 5 2;
    margin-top:5px;
    margin-bottom:10px;
    margin-left:15px;
}

.full-form .form-info input:focus {
	outline: 0;
	border-color: #777;
}

.full-form .form-info.success input {
	border-color: #2ecc71;
}

.full-form .form-info.error input {
	border-color: #e74c3c;
}

.full-form .form-info i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.full-form .form-info.success i.valid_circle {
	color: #2ecc71;
	visibility: visible;
}

.full-form .form-info.error i.error-circle {
	color: #e74c3c;
	visibility: visible;
}

.full-form .form-info small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.full-form .form-info.error small {
	visibility: visible;
}
/* .full-form .form-info .bdetails .error_message{
    font-family:'Times New Roman', Times, serif;
    color: red;
    font-size: 9pt;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 2%;
    padding:0;
    display: none;

}

.full-form .form-info .gdetails .error_message{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 9pt;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 2%;
    padding:0;
    display:none;
} */






.info-cv .dynamic-form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top:0;
    padding:0;
    margin-bottom: 50px;

    
}

.info-cv .dynamic-form p{
    font-size:10pt;
    margin-bottom: 0;
    padding:0;
}

.info-cv .dynamic-form .fullname{
    font-size: xx-large;
    font-weight: bold;
    margin-top:1 inch;
    margin-bottom:0;
    padding:0;
}


.info-cv .fixed-form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8.5pt;
    font-weight:bold;
    padding:2px;
    margin:1%;
}

.info-cv .fixed-form p{
    font-weight:normal;
}

.info-cv .fixed-form .work{
    list-style: none;
    font-weight: normal;
    padding:2px;
    margin-left: -40;
}
.info-cv .fixed-form li{
    list-style-type: disc;
    margin-left: -30;
    padding:0;
    font-weight: normal;
    
}



.info-cv .fixed-form .loc{
   text-align: right;
   margin-left: 20%;
}



.info-cv .fixed-form h3{
    margin:0;
    padding:5px;
}


.info-cv .fixed-form  .pos .Right{
    float:right;
}

.info-cv .fixed-form .pos  .left{
    float: left;
    
}

.info-cv .fixed-form .push .right {
    margin-left: 10px;
    float: right;
    
}





.Change{
    background: rgb(95, 9, 23);
    color:white;
    align-self: center;
    flex: 3 1;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border:none;
    width: 25%;
    margin-left:500px ;
    margin-top:50px;
    font-size: large;
}

